<link rel="stylesheet" href="/output.css">

<link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet" />


<footer
    class="flex flex-col items-center justify-center text-center gap-4 mt-auto px-10 bg-[#27272A] text-white py-10 sm:py-5 sm:bg-[#ffffff] sm:text-black w-full ">
    <div id="footer-top"
        class="flex flex-col items-center justify-center gap-5 sm:w-full sm:flex-row sm:justify-between sm:py-5 sm:text-2xl ">
        <div id="footer-logo" class="flex flex-row items-center justify-center gap-5 sm:justify-between">
            <div class="font-2xl"><i class="ri-links-line"></i></div>
            <div class="font-2xl font-[EB-Garamond] sm:font-4xl">Link Shotner</div>
        </div>
        <div id="social-menu"
            class="flex flex-row items-center justify-center gap-5 text-2xl sm:justify-between sm:text-3xl">
            <!-- <a href=""><i class="ri-instagram-fill"></i></a> -->
            <a href="https://x.com/raju_das04/"><i class="ri-twitter-fill"></i></a>
            <a href="https://github.com/git-rajudas/"><i class="ri-github-fill"></i></a>
            <a href="https://www.linkedin.com/in/rajudas09/"><i class="ri-linkedin-box-fill"></i></a>
        </div>
    </div>
    <div id="divider" class="border border-black border-solid w-full"></div>
    <div id="footer-bottom"
        class="flex flex-col items-center justify-center text-center gap-3 sm:flex-row sm:justify-between sm:w-full sm:text-xl sm:py-5">
        <p class="text-base font-bold sm:font-normal">© <script>document.write(new Date().getFullYear());</script> URL Shortner - All rights
            reserved.</p>
        <div id="footer-menu"
            class="flex flex-row items-center text-base justify-center text-center gap-3 sm:justify-between sm:gap-5 ">
            <a href="">Terms & conditions</a>
            <a href="">Privacy policy</a>
            <a href="">Contact Us</a>
        </div>
    </div>
</footer>

